@charset "utf-8";

/* ---------------------
全体設定
--------------------- */
.title{
  padding: 48px 0;
  font-size: 32px;
  text-align: center;
}

section{
  padding-bottom: 64px;
}


/* ---------------------
ナビゲーションメニュー 設定
--------------------- */

nav {
  padding: 32px;
  background-color: #5DA797;
  display: flex;
  justify-content: space-between;
}

nav h1 {
  font-size: 24px;
  font-weight: bold;
  color: #E9E9E9;
}

nav ul {
  display: flex;
  vertical-align: middle;
}

nav ul li {
  margin-left: 48px;
}

nav ul li a {
  text-decoration: none;
  color: #E9E9E9;
}

/* ---------------------
Top画面設定
--------------------- */

.top-image {
  width: 100%;
  height: 500px;
  background-image: url('../images/top-image.jpg');
  background-position: center;
  background-size: cover;
  vertical-align: middle;
  text-align: center;
}

.top-cover { 
  width: 100%;
  height: 500px;
  background-color: rgba(0,0,0,.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-title {
  color: #E9E9E9;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 16px;
}

/* ---------------------
About 画面設定
--------------------- */

.about {
  text-align: center;
}

.about p {
  font-size: 18px;
  margin-bottom: 16px;
}


/* ---------------------
Works 作品一覧
--------------------- */

#works {
  background-color: #E9E9E9;
}

.cards {
  display: flex;
  justify-content: space-around;
}


.card {
  width: 30%;
  background-color: white;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
}

.card-image {
  width: 100%;
}

.card-image img{
  width: 100%;
}

.card-title {
  padding: 16px 8px;
  font-size: 18px;
}

.card-text {
  padding: 16px 8px;
}

/* ---------------------
ページフッター
--------------------- */

footer {
  padding: 8px;
}